
@{
    ViewBag.Title = "Creator";
    Layout = "~/Views/Shared/_CreatorLayout.cshtml";
}

<div class="container-fluid" ng-controller="CreatorController"  ng-cloak>
    <header class="main-header" id="mainNav"></header>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item d-block d-md-none">
                        <button class="btn btn-success " type="button">Create Campaign</button>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0">
                   <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                   <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                 </form>-->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1"><i class="fa fa-2x fa-envelope"></i></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!---->
    <div class="container">
        <div class="page-header">
            <div class="top-tab-holder">

            </div>

            <ul class="nav justify-content-end ml-auto mb-3 d-none d-md-block">
                <li class="nav-item ">
                    <button class="btn btn-success " type="button">Create Profile</button>
                </li>

            </ul>

        </div>
        <div class="card card-full">
            <div class="card-head filter-bar rounded-0">
                <div class="form-inline my-2 my-lg-0">
                    <div class="input-group col-4 p-0">
                        <label>Filter by : </label>
                        <select class="form-control btn-sort-filter ml-3" ng-model="MailBoxFilter" ng-change="fn_GetAllMailbox(0)">
                            <option>All</option>
                            <option>Read</option>
                            <option>Unread</option>
                        </select>
                    </div>
                    <div class="input-group ml-auto col-4 p-0">
                        <input type="text" class="form-control" placeholder="Username" ng-model="MailBoxSearch" aria-label="Text" aria-describedby="basic-addon1">
                        <div class="input-group-prepend">
                            <span class="input-group-text fa fa-search" id="basic-addon1" ng-click="fn_SearchMailbox()"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 tab-holder messages-tab-holder">
                        <ul class="nav flex-column  nav-messages-tab">
                            <li><a class="nav-link">Inbox <b class="badge bg-primary pull-right text-light text-hide">0</b></a></li>
                        </ul>
                        <ul class="nav flex-column index-tab-list" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <li class="" style=""><a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true" ng-click="fn_GetAllMailbox(0)"><i class="fa fa-fw fa-circle"></i> All</a></li>
                            <li class="" style=""><a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-2" aria-selected="false" ng-click="fn_GetAllMailbox(1)"><i class="fa fa-fw fa-circle"></i> Proposals</a></li>
                            <li class="" style=""><a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-3" aria-selected="false" ng-click="fn_GetAllMailbox(2)"><i class="fa fa-fw fa-circle"></i> In Production</a></li>
                            <li class="" style=""><a class="nav-link" ng-click="fn_GetAllMailbox(3)" href="#v-pills-1"><i class="fa fa-fw fa-circle"></i> Pending Approval</a></li>
                            <li class="" style=""><a class="nav-link" ng-click="fn_GetAllMailbox(4)" href="#v-pills-1"><i class="fa fa-fw fa-circle"></i> Content Edits Requested</a></li>
                            <li class="" style=""><a class="nav-link" ng-click="fn_GetAllMailbox(5)" href="#v-pills-1"><i class="fa fa-fw fa-circle"></i> Completed</a></li>
                        </ul>
                        <ul class="nav flex-column nav-messages-tab">
                            <li class="" style=""><a class="nav-link" ng-click="fn_GetAllMailbox(6)" href="#v-pills-1">Sent</a></li>
                        </ul>
                    </div>
                    <div class="col-md-8 pl-md-0  tab-content">
                        <div class="tab-content" id="v-pills-tabContent">
                            <!--Tab pannel 1-->
                            <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                                <div class="inbox-body">
                                    <div class="mail-option row m-0">
                                        <ul class="list-inline inbox-pagination pull-right mb-0">
                                            <li class="list-inline-item"><span>1-50 of 234</span></li>
                                            <li class="list-inline-item">
                                                <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-inbox table-hover">
                                            <tbody>
                                                <tr ng-repeat="lst in lstMailbox" ng-show="!gridLoader" class="unread">
                                                    <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                                    @*<td>

                                                            <a ng-click="fn_ViewMailbox(lst.BrandMailId)"> {{lst.BrandMailId}} </a>
                                                        </td>*@
                                                    <td>
                                                        <a ng-click="fn_ViewMailbox(lst.BrandMailId)" href="#v-pills-2">  {{lst.Subject}}</a>
                                                    </td>

                                                    <td>
                                                        <a ng-click="fn_ViewMailbox(lst.BrandMailId)" href="#v-pills-2">  {{lst.Message}}</a>
                                                    </td>
                                                    <td>
                                                        <a ng-click="fn_ViewMailbox(lst.BrandMailId)" href="#v-pills-2">    {{lst.CreatedDate}}</a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <!--End-->
                            <!--Tab pannel 1-->

                            <div id="divViewmailBox" role="tabpanel" aria-labelledby="v-pills-2-tab">
                                <div class="mailbox-read">
                                    <div class="mailbox-read-info">
                                        <h3><label for="MailboxModal">{{MailboxModal.Subject}}</label></h3>

                                        <h5><label for="MailboxModal">From: {{MailboxModal.MailFrom}}</label> <span class="mailbox-read-time pull-right"><label for="MailboxModal"> {{MailboxModal.CreatedDate}}</label></span></h5>
                                    </div>

                                    <div class="mailbox-read-message">
                                        <h4><label for="MailboxModal">{{MailboxModal.Message}}</label></h4>
                                    </div>

                                  
                                    <div class="mailbox-read-footer">
                                        <div class="pull-right">
                                            <button class="btn btn-outline-secondary btn-sm" ng-click="fn_ReplyMailbox(MailboxModal.BrandMailId)"><i class="fa fa-reply"></i> Reply</button>
                                            @*<button class="btn btn-outline-secondary btn-sm" ><i class="fa fa-share"></i> Forward</button>*@
                                        </div>
                                        <button class="btn btn-outline-secondary btn-sm" ng-click="fn_GetAllMailbox(0)"> Back</button>

                                        <button class="btn btn-outline-secondary btn-sm" ng-click="fn_RemoveMailbox(MailboxModal.BrandMailId, MailboxModal.MailTypeId)"><i class="fa fa-trash-o"></i> Delete</button>
                                        @*<button class="btn btn-outline-secondary btn-sm"><i class="fa fa-print"></i> Print</button>*@
                                    </div>

                                </div>

                            </div>
                            <!--End-->
                            <!--Start Reply-->
                            <div id="divReplyMailBox" role="tabpanel" aria-labelledby="v-pills-2-tab">
                                <form name="frmMailboxModal" ng-submit="fn_ReplyMailboxModal(MailboxModal)" novalidate>
                                    <div class="mailbox-read">

                                        <div class="mailbox-read-info">
                                            <h3><label for="MailboxModal" ng-model="MailboxModal.Subject">Re: {{MailboxModal.Subject}}</label></h3>

                                            <h5><label for="MailboxModal">To: {{MailboxModal.MailFrom}}</label> <span class="mailbox-read-time pull-right"><label for="MailboxModal"> {{MailboxModal.CreatedDate}}</label></span></h5>
                                        </div>

                                        <div class="mailbox-read-message">
                                            <input type="text" class="form-control" maxlength="1000" ng-model="MailboxModal.Message" placeholder="" required>

                                        </div>

                                    </div>
                                    <button type="button" class="btn btn-primary pull-left" ng-click="fn_GetAllMailbox(0)">Cancel</button>
                                    <button type="submit" class="btn btn-primary pull-right" ng-disabled="!frmMailboxModal.$valid">Send</button>
                                    @*<div class="clearfix"></div>*@
                                </form>
                            </div>

                            <!--end reply-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
