
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CreatorLayout.cshtml";
}

<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="~/Scripts/app/controllers/CreatorController.js"></script>
<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }

        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    .imgDivProfile {
        text-align: center;
        margin-top: 10px;
    }

    .imgProfile {
        border: 1px solid gray;
        border-radius: 100px;
        height: 130px;
        width: 130px;
    }
</style>

<script>
    $(function () {
        $("#txtDOB").datepicker({
            dateFormat: 'dd/mm/yy'
        });
    })
    function callChangefunc(val) {
        window.location.href = "/Creator/GetCurrencyType?value=" + val;
    }
</script>

<div class="container position-relative" ng-controller="CreatorController" ng-init="fn_DefaultCreatorSettings()" ng-cloak>

    <label class="notification-icon" for="UnReadMsgModal">{{UnReadMsgModal.Message}}</label>
    <p style="color:#fff">
    </p>
    <!---->
    <div class="">
        <div class="page-header">
            <div class="top-tab-holder">

            </div>
            <div class="nav justify-content-end ml-auto mb-3 d-none d-md-block">
                <label class="mr-2">Currency : </label>
                <select class="form-control" ng-model="CurrencyTypeModal.CurrencyId" ng-options="item.CurrencyId as item.CurrencyName for item in Currency" ng-change="fn_ChangeCurrencyType(CurrencyTypeModal)">
                </select>
            </div>


        </div>
        <div id="divDashboard">


            <div class="row">

                <div class="col-md-12  proposals-holder">
                    <div class="card card-full">
                        <div class="card-body">
                            <div class="border-bottom p-3 proposals-holder-header">
                                <h3 class="m-0">Campaigns</h3>
                                <div class="input-group col-12 p-0 pb-2 pt-4">
                                    <label class="mr-2">Filter : </label>
                                    <select class="form-control" ng-model="CampaignFillterModal.ProductCategoryId" ng-options="item.ProductCategoryId as item.Name for item in ProductCategory" ng-change="fn_CampaignByFillter(CampaignFillterModal)">
                                        <option value="">All ProductCategory</option>
                                    </select>
                                    <select class="form-control" ng-model="CampaignFillterModal.CampaignDurationId" ng-options="item.CampaignDurationId as item.Duration for item in CampaignDuration" ng-change="fn_CampaignByFillter(CampaignFillterModal)">
                                        <option value="">All Duration</option>
                                    </select>
                                    <select class="form-control" ng-model="CampaignFillterModal.CountryId" ng-options="item.CountryId as item.Name for item in Country" ng-change="fn_CampaignByFillter(CampaignFillterModal)">
                                        <option value="">All Country</option>
                                    </select>
                                </div>
                            </div>

                            <div ng-repeat="obj in CampaignModal">

                                <a class="proposals-item border-bottom" href="/Creator/Projects?CampaignId={{obj.CampaignId}}" onclick="location.href='@Url.Action("fn_ViewProject({{obj.CampaignId}}")'">
                                    <div class="row justify-content-between">
                                        <div class="col-md-8 proposals-item-left">
                                            <h5 class="title">{{obj.CampaignTitle}}</h5>
                                            <ul class="list-inline proposals-item-meta mb-1"> <li class="list-inline-item"><i class="fa fa-calendar mr-1" aria-hidden="true"></i>{{obj.CreatedDate}}</li></ul>
                                            <p class="proposals-category">Product Category : {{obj.ProductCategory}}</p>
                                            <div class="text"> {{obj.AboutYourProduct}}   </div>

                                        </div>
                                        <div class="col-md-4  proposals-item-right">
                                            <label>Campaign Target Country</label> <h3>{{obj.Country}}</h3>
                                            <hr />
                                            <label>Campaign Listing Duration</label> <h3>{{obj.CampaignDuration}}</h3>
                                            <hr />
                                            <label>Maximum Budget per Content :</label> <h3> {{obj.Budget}}</h3>
                                        </div>
                                    </div>

                                </a>


                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


