
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CreatorLayout.cshtml";
}
    
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="~/Scripts/app/controllers/CreatorController.js"></script>
<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }

        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    .imgDivProfile {
        text-align: center;
        margin-top: 10px;
    }

    .imgProfile {
        border: 1px solid gray;
        border-radius: 100px;
        height: 130px;
        width: 130px;
    }
</style>

@*<script type="text/javascript">
    //$(document).ready(function () {
    //    $('input[type=txtDOB.Date]').datepicker({
    //        dateFormat: "dd/M/yy",
    //        changeMonth: true,
    //        changeYear: true,
    //        yearRange: "-60:+0"
    //    });

    //});
     $(document).ready(function () {
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd/mm/yy'
        });

    });
     });
    //$(function () {
    //    $(".datepicker").datepicker();
    //});
</script>*@
<script>
    //angular.module('datepickerBasicUsage', ['ngMaterial', 'ngMessages']).controller('CreatorController', function () {
    //    this.myDate = new Date();
    //    this.isOpen = false;
    //});
    $(function () {
        $("#txtDOB").datepicker({
            dateFormat: 'dd/mm/yy'
            //showOn: 'button',
            //buttonImageOnly: true,
            //buttonImage: 'Images/calendar.gif'
        });
    })
    function callChangefunc(val) {
        window.location.href = "/Creator/GetCurrencyType?value=" + val;
    }
    </script>

<div class="container position-relative" ng-controller="CreatorController" ng-init="fn_DefaultCreatorSettings()" ng-cloak>

    <label class="notification-icon" for="UnReadMsgModal">{{UnReadMsgModal.Message}}</label>
    <p style="color:#fff">
        @*@ViewBag.MessageCount["data"].Message*@

    </p>
    @*{{Currency| json}}*@
    <!---->
    <div class="">
        <div class="page-header">
            <div class="top-tab-holder">

            </div>
            <div class="nav justify-content-end ml-auto mb-3 d-none d-md-block">
                <label class="mr-2">Currency : </label>
                <select class="form-control" ng-model="CurrencyTypeModal.CurrencyId" ng-options="item.CurrencyId as item.CurrencyName for item in Currency" ng-change="fn_ChangeCurrencyType(CurrencyTypeModal)">
                </select>
            </div>
           

        </div>
        <div id="divDashboard">


            <div class="row">

                <div class="col-md-12  proposals-holder">
                    <div class="card card-full">
                        <div class="card-body">
                            <div class="border-bottom p-3 proposals-holder-header">
                                <h3 class="m-0">Campaigns</h3>
                                <div class="input-group col-12 p-0 pb-2 pt-4">
                                    <label class="mr-2">Filter : </label>
                                    <select class="form-control" ng-model="CampaignFillterModal.ProductCategoryId" ng-options="item.ProductCategoryId as item.Name for item in ProductCategory" ng-change="fn_CampaignByFillter(CampaignFillterModal)">
                                        <option value="">All ProductCategory</option>
                                    </select>
                                    <select class="form-control" ng-model="CampaignFillterModal.CampaignDurationId" ng-options="item.CampaignDurationId as item.Duration for item in CampaignDuration" ng-change="fn_CampaignByFillter(CampaignFillterModal)">
                                        <option value="">All Duration</option>
                                    </select>

                                    @*<select class="form-control" ng-model="CampaignFillterModal.BudgetId" ng-options="item.BudgetId as item.Title for item in Budget" ng-change="fn_CampaignByFillter(CampaignFillterModal)">
                                        <option value="">All Budget</option>
                                    </select>*@

                                    <select class="form-control" ng-model="CampaignFillterModal.CountryId" ng-options="item.CountryId as item.Name for item in Country" ng-change="fn_CampaignByFillter(CampaignFillterModal)">
                                        <option value="">All Country</option>
                                    </select>
                                </div>
                            </div>

                            <div ng-repeat="obj in CampaignModal">
                                @*<div>
                                    <tr ng-show="gridLoader">
                                        <td colspan="3">
                                            <span>Fetching data... Please wait </span><img style="width:80px" src="~/Images/grid_loader.gif" />
                                        </td>
                                    </tr>
                                </div>*@
                                @*herf="@Html.ActionLink("t", "Projects", "Creator", new { @class = "nav-link btn btn-success" })"*@
                                @*<a class="proposals-item border-bottom" href="/Creator/Projects?CampaignId={{obj.CampaignId}}">*@
                                <a class="proposals-item border-bottom" href="/Creator/Projects?CampaignId={{obj.CampaignId}}" onclick="location.href='@Url.Action("fn_ViewProject({{obj.CampaignId}}")'">
                                    <div class="row justify-content-between">
                                        <div class="col-md-8 proposals-item-left">
                                            <h5 class="title">{{obj.CampaignTitle}}</h5>
                                            <ul class="list-inline proposals-item-meta mb-1"> <li class="list-inline-item"><i class="fa fa-calendar mr-1" aria-hidden="true"></i>{{obj.CreatedDate}}</li></ul>
                                            <p class="proposals-category">Product Category : {{obj.ProductCategory}}</p>
                                            <div class="text"> {{obj.AboutYourProduct}}   </div>

                                        </div>
                                        <div class="col-md-4  proposals-item-right">
                                            <label>Campaign Target Country</label> <h3>{{obj.Country}}</h3>
                                            <hr />
                                            <label>Campaign Listing Duration</label> <h3>{{obj.CampaignDuration}}</h3>
                                            <hr />
                                            <label>Maximum Budget per Content :</label> <h3> {{obj.Budget}}</h3>
                                        </div>
                                    </div>

                                </a>


                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>


        @*Basic Profile*@
    <!--<div class="card card-full" id="divProfile">
        <div class="card-head filter-bar rounded-0">
            <div class="form-inline my-2 my-lg-0">
                Basic Profile
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 order-md-2">

                    <div class="imgDivProfile mt-md-5">
                        <img class="imgProfile" ng-src="{{imgProfile}}" ng-model="CreatorModal.imgProfile" /> <br />
                        <span ng-show="imgLoader">Uploading <img src="~/Images/grid_loader.gif" style="width:100px" /></span>
                        <div class="fileUpload btn btn-primary" style="text-align: center;" ng-show="!imgLoader">
                            <span>Upload Image</span>
                            <input type="file" class="upload" onchange="angular.element(this).scope().fn_ImageUpload(this.files)" accept="image/png, image/jpeg, image/gif" />
                        </div>
                    </div>

                </div>
                <div class="col-md-8 order-md-1">
                    <form name="frmCreatorModal" ng-submit="fn_SaveCreatorModal(CreatorModal)" novalidate>
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="form-group custom-form-group col-lg-12">
                                    <label class="control-label">Full Name</label>
                                    <input type="text" class="form-control" ng-model="CreatorModal.FullName" maxlength="1000" placeholder="" required width="20">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group custom-form-group col-lg-12">
                                    <label class="control-label">Gender</label>
                                    <div class="d-flex">

                                        <div class="custom-control custom-radio mr-3 col">
                                            <input type="radio" class="custom-control-input" checked id="rdbGenderFemale" value="Female" ng-model="CreatorModal.Gender" required>
                                            <label class="custom-control-label" for="rdbGenderFemale">Female</label>
                                        </div>

                                        <div class="custom-control custom-radio mr-3 col">
                                            <input type="radio" class="custom-control-input" id="rdbGenderMale" value="Male" name="radio-stacked" ng-model="CreatorModal.Gender" required>
                                            <label class="custom-control-label" for="rdbGenderMale">Male</label>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group custom-form-group col-lg-12">
                                    <label class="control-label">Date Of Birth</label>-->
                                    @*<md-datepicker ng-model="CreatorModal.myDate" md-placeholder="Enter date"></md-datepicker> ng-model="CreatorModal.DOB"*@
                                    <!--<input type="date" date='dd-MM-yyyy' id="txtDOB" class="form-control datepicker" ng-model="CreatorDOB.DOB" maxlength="1000" placeholder="" required width="20">
                                </div>
                            </div>

                            <div class="form-group custom-form-group">
                                <label class="control-label">E-Mail</label>-->
                                @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })*@
                                <!--<input type="text" class="form-control" ng-model="CreatorModal.Email" maxlength="1000" placeholder="" ng-view="true" required width="20">
                            </div>
                            <div class="form-group custom-form-group">
                                <label class="control-label">ContactNumber</label>
                                <input type="text" class="form-control" ng-model="CreatorModal.ContactNumber" maxlength="1000" placeholder="" required width="20">
                            </div>
                            <div class="form-group custom-form-group">
                                <label class="control-label">State</label>
                                <input type="text" class="form-control" ng-model="CreatorModal.State" maxlength="1000" placeholder="" required width="20">
                            </div>
                            <div class="form-group custom-form-group">
                                <label class="control-label">Country</label>-->
                                @*<input type="text" class="form-control" ng-model="CreatorModal.Message" maxlength="1000" placeholder="" required width="20">*@
                                <!--<select class="form-control" ng-model="CreatorModal.CountryId" ng-options="item.CountryId as item.Name for item in Country">
                                    <option value="0" label="Please Select Country"></option>-->
                                    @*<option ng-repeat="Country" ng-model="CreatorModal.Country" value="{{Country.CountryId}}" ng-selected="{{Country.Selected==true}}">{{Country.Name}}</option>*@

                                <!--</select>
                            </div>

                            <div class="form-group custom-form-group">
                                <label class="control-label">Languages</label>-->
                                @*<input type="text" class="form-control" ng-model="CreatorModal.Language" maxlength="1000" placeholder="" required width="20" multiple>*@
                                <!--<textarea class="form-control" ng-model="CreatorModal.Language" maxlength="1000" placeholder="" required width="20"></textarea>
                            </div>

                            <div class="form-group custom-form-group">
                                <label class="control-label">YouTube</label>
                                <input type="text" class="form-control" ng-model="CreatorModal.YouTube" maxlength="1000" placeholder="" required width="20">
                            </div>
                            <div class="form-group custom-form-group">
                                <label class="control-label">Instagram</label>
                                <input type="text" class="form-control" ng-model="CreatorModal.Instagram" maxlength="1000" placeholder="" required width="20">
                            </div>
                            <div class="form-group custom-form-group">
                                <label class="control-label">Facebook</label>
                                <input type="text" class="form-control" ng-model="CreatorModal.Facebook" maxlength="1000" placeholder="" required width="20">
                            </div>
                            <div class="form-group custom-form-group">
                                <label class="control-label">Minimum Budgeted Project</label>
                                <input type="text" class="form-control" ng-model="CreatorModal.MinimumBudgetedProject" maxlength="1000" placeholder="" required width="20">
                            </div>

                            <div class="form-group custom-form-group">
                                <label class="control-label">Summary</label>
                                <input type="text" class="form-control" ng-model="CreatorModal.Summary" maxlength="1000" placeholder="" width="20">
                            </div>

                            <div class="form-group custom-form-group">
                                <label class="control-label">PastWork Experience</label>
                                <input type="text" class="form-control" ng-model="CreatorModal.PastWorkExperience" maxlength="1000" placeholder="" width="20">
                            </div>

                            <div class="form-group custom-form-group">
                                <label class="control-label">Categories</label>-->
                                @*<select id="EmpList" class="form-control" ng-model="CreateCampaignModal.ProductCategoryId" ng-options="item.ProductCategoryId as item.Name for item in ProductCategory" checkboxes="true">
                                </select>*@
                                @*<input type="text" class="form-control" ng-model="CreatorModal.TargetAudience" maxlength="1000" placeholder="" required width="20">*@
                                <!--<div ng-repeat="obj in ProductCategory" class="custom-control custom-checkbox col-3 mb-3">

                                    <input type="checkbox" class="custom-control-input" name="chkCategories" id="cat_{{$index}}" ng-model="obj.checked" ng-checked="obj.isChecked">
                                    <label class="custom-control-label" for="cat_{{$index}}">{{obj.Name}} </label>
                                </div>
                            </div>

                            <div class="form-group custom-form-group">
                                <label class="control-label">Target Audience Age</label>-->
                                @*<input type="text" class="form-control" ng-model="CreatorModal.TargetAudience" maxlength="1000" placeholder="" required width="20">*@
                                <!--<div ng-repeat="obj in AudienceAgeModal" class="custom-control custom-checkbox col-3 mb-3">

                                    <input type="checkbox" class="custom-control-input" name="chkAudienceAge" id="aud_{{$index}}" ng-model="obj.checked" ng-checked="obj.isChecked">
                                    <label class="custom-control-label" for="aud_{{$index}}">{{obj.Title}} </label>
                                </div>
                            </div>
                            <div class="form-group custom-form-group text-right">
                                <button type="submit" ng-disabled="!frmCreatorModal.$valid" class="btn btn-primary">Update</button>

                                <button type="button" ng-click="fn_DefaultCreatorSettings()" class="btn btn-primary">Back</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>-->

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


