
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_CreatorLayout.cshtml";
}

<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/app/controllers/ProfileController.js"></script>
<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }

        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    .imgDivProfile {
        text-align: center;
        margin-top: 10px;
    }

    .imgProfile {
        border: 1px solid gray;
        border-radius: 100px;
        height: 130px;
        width: 130px;
    }
</style>

<script>
        $(function () {
            $("#txtDOB").datepicker({
                dateFormat: 'dd/mm/yy'
            });
        })

</script>

<div class="container position-relative" ng-controller="ProfileController" ng-init="fn_DefaultProfileSettings()" ng-cloak>

    <label class="notification-icon" for="UnReadMsgModal">{{UnReadMsgModal.Message}}</label>
    <p style="color:#fff">
       
    </p>
    @*{{Currency| json}}*@
    <!---->
    <div class="">
        <div class="page-header">
            <div class="top-tab-holder">

            </div>

            @*<ul class="nav justify-content-end ml-auto mb-3 d-none d-md-block">
                <li class="nav-item ">
                    <button class="btn btn-success " type="button" ng-click="fn_EditProfile()">Edit Profile</button>
                </li>

            </ul>*@

        </div>


        @*Basic Profile*@
        <div class="card card-full" id="divProfile">
            <div class="card-head filter-bar rounded-0">
                <div class="form-inline my-2 my-lg-0">
                    Basic Profile
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 order-md-2">

                        <div class="imgDivProfile mt-md-5">
                            <img class="imgProfile" ng-src="{{imgProfile}}" ng-model="CreatorModal.imgProfile" /> <br />
                            <span ng-show="imgLoader">Uploading <img src="~/Images/grid_loader.gif" style="width:100px" /></span>
                            <div class="fileUpload btn btn-primary" style="text-align: center;" ng-show="!imgLoader">
                                <span>Upload Image</span>
                                <input type="file" class="upload" onchange="angular.element(this).scope().fn_ImageUploadCreator(this.files)" accept="image/png, image/jpeg, image/gif" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-8 order-md-1">
                        <form name="frmCreatorModal" ng-submit="fn_SaveCreatorModal(CreatorModal)" novalidate>
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="form-group custom-form-group col-lg-12">
                                        <label class="control-label">Full Name</label>
                                        <input type="text" class="form-control" ng-model="CreatorModal.FullName" maxlength="1000" placeholder="" required width="20">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group custom-form-group col-lg-12">
                                        <label class="control-label">Gender</label>
                                        <div class="d-flex">

                                            <div class="custom-control custom-radio mr-3 col">
                                                <input type="radio" class="custom-control-input" checked id="rdbGenderFemale" value="Female" ng-model="CreatorModal.Gender" required>
                                                <label class="custom-control-label" for="rdbGenderFemale">Female</label>
                                            </div>

                                            <div class="custom-control custom-radio mr-3 col">
                                                <input type="radio" class="custom-control-input" id="rdbGenderMale" value="Male" name="radio-stacked" ng-model="CreatorModal.Gender" required>
                                                <label class="custom-control-label" for="rdbGenderMale">Male</label>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group custom-form-group col-lg-12">
                                        <label class="control-label">Date Of Birth</label>
                                        @*<md-datepicker ng-model="CreatorModal.myDate" md-placeholder="Enter date"></md-datepicker> ng-model="CreatorModal.DOB"*@
                                        <input type="date" date='dd-MM-yyyy' id="txtDOB" class="form-control datepicker" ng-model="CreatorDOB.DOB" maxlength="1000" placeholder="" required width="20">
                                    </div>
                                </div>

                                <div class="form-group custom-form-group">
                                    <label class="control-label">E-Mail</label>
                                    @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })*@
                                    <input type="text" class="form-control" ng-model="CreatorModal.Email" maxlength="1000" placeholder="" ng-view="true" required width="20">
                                </div>
                                <div class="form-group custom-form-group">
                                    <label class="control-label">ContactNumber</label>
                                    <input type="text" class="form-control" ng-model="CreatorModal.ContactNumber" maxlength="1000" placeholder="" required width="20">
                                </div>
                                <div class="form-group custom-form-group">
                                    <label class="control-label">State</label>
                                    <input type="text" class="form-control" ng-model="CreatorModal.State" maxlength="1000" placeholder="" required width="20">
                                </div>
                                <div class="form-group custom-form-group">
                                    <label class="control-label">Country</label>
                                    @*<input type="text" class="form-control" ng-model="CreatorModal.Message" maxlength="1000" placeholder="" required width="20">*@
                                    <select class="form-control" ng-model="CreatorModal.CountryId" ng-options="item.CountryId as item.Name for item in Country">
                                        <option value="0" label="Please Select Country"></option>
                                        @*<option ng-repeat="Country" ng-model="CreatorModal.Country" value="{{Country.CountryId}}" ng-selected="{{Country.Selected==true}}">{{Country.Name}}</option>*@

                                    </select>
                                </div>

                                <div class="form-group custom-form-group">
                                    <label class="control-label">Languages</label>
                                    @*<input type="text" class="form-control" ng-model="CreatorModal.Language" maxlength="1000" placeholder="" required width="20" multiple>*@
                                    <textarea class="form-control" ng-model="CreatorModal.Language" maxlength="1000" placeholder="" required width="20"></textarea>
                                </div>

                                <div class="form-group custom-form-group">
                                    <label class="control-label">YouTube</label>
                                    <input type="text" class="form-control" ng-model="CreatorModal.YouTube" maxlength="1000" placeholder="" required width="20">
                                </div>
                                <div class="form-group custom-form-group">
                                    <label class="control-label">Instagram</label>
                                    <input type="text" class="form-control" ng-model="CreatorModal.Instagram" maxlength="1000" placeholder="" required width="20">
                                </div>
                                <div class="form-group custom-form-group">
                                    <label class="control-label">Facebook</label>
                                    <input type="text" class="form-control" ng-model="CreatorModal.Facebook" maxlength="1000" placeholder="" required width="20">
                                </div>
                                <div class="form-group custom-form-group">
                                    <label class="control-label">Minimum Budgeted Project</label>
                                    <input type="text" class="form-control" ng-model="CreatorModal.MinimumBudgetedProject" maxlength="1000" placeholder="" required width="20">
                                </div>

                                <div class="form-group custom-form-group">
                                    <label class="control-label">Summary</label>
                                    <input type="text" class="form-control" ng-model="CreatorModal.Summary" maxlength="1000" placeholder="" width="20">
                                </div>

                                <div class="form-group custom-form-group">
                                    <label class="control-label">PastWork Experience</label>
                                    <input type="text" class="form-control" ng-model="CreatorModal.PastWorkExperience" maxlength="1000" placeholder="" width="20">
                                </div>

                                <div class="form-group custom-form-group">
                                    <label class="control-label">Categories</label>
                                    @*<select id="EmpList" class="form-control" ng-model="CreateCampaignModal.ProductCategoryId" ng-options="item.ProductCategoryId as item.Name for item in ProductCategory" checkboxes="true">
                                        </select>*@
                                    @*<input type="text" class="form-control" ng-model="CreatorModal.TargetAudience" maxlength="1000" placeholder="" required width="20">*@
                                    <div ng-repeat="obj in ProductCategory" class="custom-control custom-checkbox col-3 mb-3">

                                        <input type="checkbox" class="custom-control-input" name="chkCategories" id="cat_{{$index}}" ng-model="obj.checked" ng-checked="obj.isChecked">
                                        <label class="custom-control-label" for="cat_{{$index}}">{{obj.Name}} </label>
                                    </div>
                                </div>

                                <div class="form-group custom-form-group">
                                    <label class="control-label">Target Audience Age</label>
                                    @*<input type="text" class="form-control" ng-model="CreatorModal.TargetAudience" maxlength="1000" placeholder="" required width="20">*@
                                    <div ng-repeat="obj in AudienceAgeModal" class="custom-control custom-checkbox col-3 mb-3">

                                        <input type="checkbox" class="custom-control-input" name="chkAudienceAge" id="aud_{{$index}}" ng-model="obj.checked" ng-checked="obj.isChecked">
                                        <label class="custom-control-label" for="aud_{{$index}}">{{obj.Title}} </label>
                                    </div>
                                </div>
                                <div class="form-group custom-form-group text-right">
                                    <button type="submit" ng-disabled="!frmCreatorModal.$valid" class="btn btn-primary">Update</button>

                                    @*<button type="button" ng-click="fn_DefaultCreatorSettings()" class="btn btn-primary">Back</button>*@
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>



    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



