/*Main navigation bar */
/*-----------------------------------*/
.navbar {
    background: #fff;
}

@media only screen and (max-width: 767px) {
    .navbar {
        padding: 15px;
    }
}

@media only screen and (min-width: 768px) {
    .navbar {
        height: 120px;
    }
}

.navbar > * {
    position: relative;
}

.navbar a.navbar-brand {
    font-size: 20px;
    font-weight: 900;
}

@media only screen and (min-width: 768px) {
    .navbar a.navbar-brand {
        font-size: 25px;
        margin-right: 50px;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: bold;
    padding: 5px 15px;
}

    .navbar-light .navbar-nav .nav-link.btn {
        color: #fff;
        max-width: 100px;
        border-radius: 50px;
        font-weight: 600;
        font-size: 16px;
    }

@media only screen and (min-width: 768px) {
    .navbar-light .navbar-nav .nav-link.btn {
        margin-left: 15px;
    }
}

/*Main navigation  */
