
@{
    ViewBag.Title = "BankDetails";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<script src="~/Scripts/app/controllers/BankDetailsController.js"></script>
<div class="container position-relative" ng-controller="BankDetailsController" ng-init="fn_DefaultBankSettings()" ng-cloak>


    <label class="notification-icon" for="UnReadMsgModal">{{UnReadMsgModal.Message}}</label>








    <div class="page-header">
        <div class="top-tab-holder">

        </div>

        <ul class="nav justify-content-end ml-auto mb-3 d-none d-md-block">
            <li class="nav-item ">
                <!--<button class="btn btn-success " type="button">Create Campaign</button>-->
            </li>




        </ul>

    </div>

    <div class="card full-width">
        <div class="card-header">
            <h4 class="card-title">Bank Details</h4>

        </div>
        <div class="card-body">
            <div>


                <div id="divAddBank" class="form-horizontal">
                    <form name="frmBank" ng-submit="frmBank.$valid && fn_SaveBankDetails(BankDetailModal)" novalidate>


                        <div class="form-group custom-form-group">
                            <label class="control-label">Account Number</label>
                            <input type="text" class="form-control" maxlength="100" ng-model="BankDetailModal.AccountNumber" placeholder="Account Number" required>
                        </div>

                        <div class="form-group custom-form-group">
                            <label class="control-label">Account Holder</label>
                            <input type="text" class="form-control" maxlength="100" ng-model="BankDetailModal.AccountHolderName" placeholder="Holder Name" required>
                        </div>

                        <div class="form-group custom-form-group">
                            <label class="control-label">Bank Name</label>
                            <input type="text" class="form-control" maxlength="100" ng-model="BankDetailModal.BankName" placeholder="Name" required>
                        </div>

                        <div class="form-group custom-form-group">
                            <label class="control-label">Bank Address</label>
                            <input type="text" class="form-control" maxlength="100" ng-model="BankDetailModal.BankAddress" placeholder="Address" required>
                        </div>

                        <div class="form-group custom-form-group">
                            <label class="control-label">Bank Code</label>
                            <input type="text" class="form-control" maxlength="100" ng-model="BankDetailModal.BankCode" placeholder="Code" required>
                        </div>



                        <div class="form-group custom-form-group">
                            <button type="submit" class="btn btn-primary " ng-disabled="!frmBank.$valid" id="btnSaveBank">{{SaveBank}}</button>
                            <button class="btn btn-secondary ml-4" ng-click="fn_DefaultBankSettings()" id="btnSaveBank">Back</button>
                        </div>

                    </form>
                </div>
                <div id="divBankList">
                    <div class="form-inline p-3 justify-content-end">
                        <div class="form-group"><button class="btn btn-success " ng-click="fn_AddBankDetails()">Add Bank</button></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        Account Number
                                    </th>
                                    <th>
                                        Account Holder
                                    </th>
                                    <th>
                                        Bank Name
                                    </th>
                                    <th>
                                        Bank  Adderss
                                    </th>

                                    <th>
                                        Bank Code
                                    </th>

                                    <th style="text-align:center">
                                        Action (Edit/Delete)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat=" lst in lstBankDetail" ng-show="!gridLoader">
                                    <td>
                                        {{lst.AccountNumber}}
                                    </td>
                                    <td>
                                        {{lst.AccountHolderName}}
                                    </td>
                                    <td>
                                        {{lst.BankName}}
                                    </td>
                                    @*<td>
                                            {{lst.BankName}}
                                        </td>*@
                                    <td>
                                        {{lst.BankAddress}}
                                    </td>
                                    <td>
                                        {{lst.BankCode}}
                                    </td>
                                    <td class="text-primary" align="center">
                                        <a href="javascript:void(0)" ng-click="fn_EditBankDetails(lst.BankId)"><i class="fa fa-pencil" aria-hidden="true" title="Edit"></i></a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                        <a href="javascript:void(0)" ng-click="fn_RemoveBank(lst.BankId)"><i class="fa fa-trash" aria-hidden="true" title="Remove"></i></a>
                                    </td>
                                </tr>

                                <tr ng-show="lstBankDetail.length < 1 && !gridLoader">
                                    <td colspan="3">
                                        <span>No record found</span>
                                    </td>
                                </tr>
                                <tr ng-show="gridLoader">
                                    <td colspan="3">
                                        <span>Fetching data... Please wait </span><img style="width:80px" src="~/Images/grid_loader.gif" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

