@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="container position-relative">

    <div class="page-header">
        <div class="top-tab-holder">
        </div>

        <div class="nav justify-content-end ml-auto mb-3 d-none d-md-block">
        </div>
    </div>

    <div class="card full-width">
        <div class="card-header">
            <h4 class="card-title">Change Password</h4>
        </div>
        <div class="card-body">
            @Html.Partial("~/Views/Common/_ChangePasswordPartial.cshtml")
        </div>
    </div>

</div>
