
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }

        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    .imgDivProfile {
        text-align: center;
        margin-top: 10px;
    }

    .imgProfile {
        border: 1px solid gray;
        border-radius: 100px;
        height: 130px;
        width: 130px;
    }
</style>

<script src="~/Scripts/app/controllers/ProjectController.js"></script>
<div class="container position-relative" ng-controller="ProjectController" ng-init="fn_DefaultProjectSettings()" ng-cloak>
    <label class="notification-icon" for="UnReadMsgModal">{{UnReadMsgModal.Message}}</label>

    <!---->
    <div class="">
        <div class="page-header">
            <div class="top-tab-holder">
                <ul class="nav justify-content-end ml-auto mb-3 d-none d-md-block">

                    <li class="nav-item">@Html.ActionLink("Create Campaign", "CreateCampaign", "Client", new { @class = "nav-link btn btn-success" })</li>

                </ul>
            </div>

            

            <div class="nav justify-content-end ml-auto mb-3 d-none d-md-block">
               
                <label class="mr-2">Currency : </label>
                <select class="form-control" ng-model="CurrencyTypeModal.CurrencyId" ng-options="item.CurrencyId as item.CurrencyName for item in Currency" ng-change="fn_ChangeCurrencyType(CurrencyTypeModal)">
                </select>
            </div>
        </div>
        <div class="card card-full">
            <div class="card-head filter-bar rounded-0">
			    
                <div class="form-inline my-2 my-lg-0">
                    <div class="input-group col-4 p-0">
                       <h4 class="card-title">Campaign List</h4>
                    </div>
                    <div class="input-group ml-auto col-4 p-0">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 ">

                        <div class="table-responsive" id="v-pills-1">
                            <table id="tblProjList" class="table table-inbox table-hover">
                                <thead class=" text-primary">
                                    <tr>
                                        <th onclick="sortTable(0)">
                                            Title
                                        </th>
                                        <th onclick="sortTable(1)">
                                            Duration
                                        </th>
                                        <th onclick="sortTable(2)">
                                            Product Category
                                        </th>
                                        <th onclick="sortTable(3)">
                                            Budget
                                        </th>
                                        <th onclick="sortTable(4)">
                                            Approved/Rejected
                                        </th>
                                        <th onclick="sortTable(5)">
                                            Status
                                        </th>

                                        <th onclick="sortTable(6)">
                                            Project Date
                                        </th>

                                        <th style="text-align:center" >
                                            Action 
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="lst in lstProposal" ng-show="!gridLoader" class="unread">

                                        <td>
                                            <a href="/Client/CreateCampaign?CampaignId={{lst.CampaignId}}">  {{lst.CampaignTitle}}</a>
                                        </td>

                                        <td>
                                            <a href="javascript:void(0)">    {{lst.CampaignDuration}}</a>
                                        </td>

                                        <td>
                                            <a href="javascript:void(0)">  {{lst.ProductCategory}}</a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">    {{lst.Budget}}</a>
                                        </td>
                                        <td>
                                            <a>    {{lst.Approved}}</a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)">    {{lst.Status}}</a>
                                        </td>

                                        <td>
                                            <a href="javascript:void(0)">    {{lst.CreatedDate}}</a>
                                        </td>
                                        <td class="text-primary" align="center">
                                            <a ng-show="lst.Status == 'Publish'" title="View" style="cursor:pointer" href="/Client/CreateCampaign?CampaignId={{lst.CampaignId}}" onclick="location.href='@Url.Action("fn_ViewCampaign({{lst.CampaignId}}")'"><i class="fa fa-eye"></i></a>
                                            <a ng-show="lst.Status != 'Publish'" href="/Client/CreateCampaign?CampaignId={{lst.CampaignId}}" onclick="location.href='@Url.Action("fn_ViewCampaign({{lst.CampaignId}}")'"><i class="fa fa-pencil" aria-hidden="true" title="Edit"></i></a>&nbsp;&nbsp;&nbsp;@*|&nbsp;&nbsp;&nbsp;*@
                                            <a href="javascript:void(0)" ng-show="lst.Status != 'Publish'" ng-click="fn_RemoveCampaign(lst.CampaignId)"><i class="fa fa-trash" aria-hidden="true" title="Remove"></i></a>
                                        </td>
                                    </tr>
                                    <tr ng-show="tblProjList.length < 1 && !gridLoader">
                                        <td colspan="3">
                                            <span>No record found</span>
                                        </td>
                                    </tr>
                                    <tr ng-show="gridLoader">
                                        <td colspan="3">
                                            <span>Fetching data... Please wait </span><img style="width:80px" src="~/Images/grid_loader.gif" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("tblProjList");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }

    function fn_SearchProjects() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("txtSearch");
        filter = input.value.toUpperCase();
        table = document.getElementById("tblProjList");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

