
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }

        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    .imgDivProfile {
        text-align: center;
        margin-top: 10px;
    }

    .imgProfile {
        border: 1px solid gray;
        border-radius: 100px;
        height: 130px;
        width: 130px;
    }
</style>

<script src="~/Scripts/app/controllers/profileController.js"></script>
<div class="container position-relative" ng-controller="ProfileController" ng-init="fn_DefaultProfileSettings()" ng-cloak>
    <label class="notification-icon" for="UnReadMsgModal">{{UnReadMsgModal.Message}}</label>

    <div class="page-header">
        <div class="top-tab-holder">

            <ul class="nav nav-pills" id="myTab" role="tablist">

                <li class="nav-item">
                    <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Profile</a>
                </li>

            </ul>
        </div>

        @*<ul class="nav justify-content-end ml-auto mb-3 d-none d-md-block">
            <li class="nav-item ">
                <button class="btn btn-success " type="button">Create Campaign</button>
            </li>

        </ul>*@

    </div>
    <div class="card mb-0">
        <div class="card-head filter-bar rounded-0">
            <div class="">
                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="input-group ml-auto">
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        <div class="input-group-prepend">
                            <span class="input-group-text fa fa-search" id="basic-addon1"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5 pr-md-0 tab-holder">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <!--Tab link 1-->
                        <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">
                            <div class="d-flex">
                                <div class=""><img src="~/images/famebot.png" class="rounded-circle" width="70" /></div>
                                <div class="md-list-item-text"><h4>Create Your First Campaign</h4><h5>FameBot</h5></div>
                            </div>
                        </a>
                        <!--Tab link 2-->
                        <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">
                            <div class="d-flex">
                                <div class=""><img src="~/images/famebot.png" class="rounded-circle" width="70" /></div>
                                <div class="md-list-item-text"><h4>Create Your First Campaign</h4><h5>FameBot</h5></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-7 pl-md-0  tab-content-holder">
                    <div class="tab-content" id="v-pills-tabContent">
                        <!--Tab pannel 1-->
                        <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                            <div class="tab-pane-header d-flex border-bottom p-3">
                                <h5 class="m-md-0">Welcome to Fame Perks!</h5>
                                <div class="ml-auto"><img src="~/images/famebot.png" class="rounded-circle" width="30" /> <span> Test Name</span></div>
                            </div>
                            <div class="tab-pane-body"></div>
                        </div>
                        <!--End-->
                        <!--Tab pannel 2-->
                        <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                            <div class="tab-pane-header d-flex border-bottom p-3">
                                <h5 class="m-md-0">Upload</h5>
                            </div>
                            <div class="tab-pane-body">
                                <div class="col-lg-12">
                                    <div class="imgDivProfile">
                                        <img class="imgProfile" ng-src="{{imgProfile}}" /> <br />
                                        <span ng-show="imgLoader">Uploading <img src="~/Images/grid_loader.gif" style="width:100px" /></span>
                                        <div class="fileUpload btn btn-primary" style="text-align: center;" ng-show="!imgLoader">
                                            <span>Upload Image</span>
                                            <input type="file" class="upload" onchange="angular.element(this).scope().fn_ImageUpload(this.files)" accept="image/png, image/jpeg, image/gif" />
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="col-lg-12">
                                    <div class="fileUpload btn btn-primary" style="float: right;">
                                        <span>Upload Doc</span>
                                        <input type="file" multiple class="upload" onchange="angular.element(this).scope().fn_DocumentUpload(this.files)" />
                                    </div>
                                    <table class="table table-bordered">
                                        <tr>
                                            <th style="width:95%">File Name</th>
                                            <th style="width:5%; text-align:center">Action</th>
                                        </tr>
                                        <tr ng-repeat="lst in lstDocuments" ng-show="!docLoader">
                                            <td>
                                                <a href="javascript:void(0)">{{lst.FileName}}</a>
                                            </td>
                                            <td style="text-align:center">
                                                <a href="javascript:void(0)" title="View" style="cursor:pointer" target="_blank" ng-click="fn_ViewDocument(lst)"><i class="fa fa-eye"></i></a>
                                                <a href="javascript:void(0)" title="Remove" style="cursor:pointer" ng-click="fn_RemoveDocument(lst)"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr ng-show="lstDocuments.length == 0 && !docLoader">
                                            <td colspan="2">
                                                <span>No file found</span>
                                            </td>
                                        </tr>
                                        <tr ng-show="docLoader">
                                            <td colspan="2">
                                                <span>Uploading <img src="~/Images/grid_loader.gif" style="width:100px" /></span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--End-->

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>