/* CSS Document */
.yoga-color{
	  
		 .related-courses{
			 background:#ffebc6;
		   }
		.related-courses{
				.bx-wrapper .bx-pager.bx-default-pager a{background: #acabaf;}	
				.bx-wrapper .bx-pager.bx-default-pager a:hover,
				.bx-wrapper .bx-pager.bx-default-pager a.active,
				.bx-wrapper .bx-pager.bx-default-pager a:focus {
				    background: #f8b333;
				  }
	   
		}
	
}

.meditation-color{	  
	.related-courses{
			 background:#c7dff7;
		}
		.related-courses{
		.bx-wrapper .bx-pager.bx-default-pager a{background: #b2bcc5;}	
		.bx-wrapper .bx-pager.bx-default-pager a:hover,
		.bx-wrapper .bx-pager.bx-default-pager a.active,
		.bx-wrapper .bx-pager.bx-default-pager a:focus {
			background: #2b8cec;
		   }
	   
		}
	
}




.ayurveda-color{
	
		 .related-courses{
			 background:#daf1da linear-gradient(90deg, #eaffcc 0%, #daf1da 100%);
		}
		.related-courses{
	.bx-wrapper .bx-pager.bx-default-pager a{background: rgba(69, 181, 73, 0.4);}	
	.bx-wrapper .bx-pager.bx-default-pager a:hover,
	 .bx-wrapper .bx-pager.bx-default-pager a.active,
	  .bx-wrapper .bx-pager.bx-default-pager a:focus {
        background: #45b549;
       }
	   
		}
	
	}