@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/app/controllers/changePasswordController.js"></script>
<div class="container-fluid" ng-controller="ChangePasswordController" ng-init="fn_DefaultForm()">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-head filter-bar rounded-0">
                    <div class="form-inline my-2 my-lg-0">
                        <div class="input-group col-4 p-0">
                            <h4 class="card-title">Change Password</h4>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <form name="frmChangePassword" ng-submit="frmChangePassword.$valid && fn_ValidateForm(changePasswordModel) && fn_SavePassword(changePasswordModel)" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Current Password*</label>
                                    <input type="password" class="form-control" maxlength="100" ng-model="changePasswordModel.OldPassword" placeholder="********" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">New Password*</label>
                                    <input type="password" class="form-control" maxlength="20" ng-model="changePasswordModel.NewPassword" ng-change="fnCheckPassword(changePasswordModel)"  placeholder="********" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Confirm Password*</label>
                                    <input type="password" class="form-control" maxlength="20" ng-model="changePasswordModel.ConfirmPassword" placeholder="********" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary pull-right" ng-disabled="!frmChangePassword.$valid">Save</button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <ul style="list-style: none; padding: 5px;">
                                        <li><strong>*New Password must contain</strong></li>
                                        <li>
                                            <i ng-show="!changePasswordModel.isMinLength" class="fa fa-info-circle" aria-hidden="true" style="color: red;"></i>
                                            <i ng-show="changePasswordModel.isMinLength" class="fa fa-check" aria-hidden="true" style="color: #66f542"></i>
                                            <span> minimum of 6 characters</span>
                                        </li>
                                        <li>
                                            <i ng-show="!changePasswordModel.isLowercase" class="fa fa-info-circle" aria-hidden="true" style="color: red;"></i>
                                            <i ng-show="changePasswordModel.isLowercase" class="fa fa-check" aria-hidden="true" style="color: #66f542"></i>
                                            <span> at least one lowercase letter</span>
                                        </li>
                                        <li>
                                            <i ng-show="!changePasswordModel.isUppercase" class="fa fa-info-circle" aria-hidden="true" style="color: red;"></i>
                                            <i ng-show="changePasswordModel.isUppercase" class="fa fa-check" aria-hidden="true" style="color: #66f542"></i>
                                            <span> at least one uppercase letter</span>
                                        </li>
                                        <li>
                                            <i ng-show="!changePasswordModel.isNumeric" class="fa fa-info-circle" aria-hidden="true" style="color: red;"></i>
                                            <i ng-show="changePasswordModel.isNumeric" class="fa fa-check" aria-hidden="true" style="color: #66f542"></i>
                                            <span> at least one number</span>
                                        </li>
                                        <li>
                                            <i ng-show="!changePasswordModel.isSpecialCharcter" class="fa fa-info-circle" aria-hidden="true" style="color: red;"></i>
                                            <i ng-show="changePasswordModel.isSpecialCharcter" class="fa fa-check" aria-hidden="true" style="color: #66f542"></i>
                                            <span> at least one special character</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

