
@{
    ViewBag.Title = "Client";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/app/controllers/AdminClientController.js"></script>


<div class="container-fluid" ng-controller="ClientController" ng-init="fn_DefaultClientSettings()" ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="card-head filter-bar rounded-0">
                    <div class="form-inline my-2 my-lg-0">
                        <div class="input-group col-4 p-0">
                            <h4 class="card-title">Client</h4>
                        </div>
                    </div>
                </div>

               
                <div class="card-body">

                    <hr />
                    <div class="table-responsive" style="overflow:hidden">
                        <table class="table" style="border: 1px solid lightgrey;">
                            <thead class=" text-primary">
                                <tr>

                                    <th>
                                        Email
                                    </th>

                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="lst in lstClientList" ng-show="!gridLoader">
                                    <td>
                                        {{lst.Email}}
                                    </td>
                                    <td>
                                        {{lst.Status}}
                                    </td>

                                    <td class="text-primary" align="center">
                                        <a href="javascript:void(0)" ng-click="fn_EditClient(lst.Id, lst.Edit)">
                                            <i class="btn btn-primary" aria-hidden="false" title="Edit"> {{lst.Edit}}</i>

                                        </a>

                                    </td>
                                </tr>

                                <tr ng-show="lstClientList.length < 1 && !gridLoader">
                                    <td colspan="3">
                                        <span>No record found</span>
                                    </td>
                                </tr>
                                <tr ng-show="gridLoader">
                                    <td colspan="3">
                                        <span>Fetching data... Please wait </span><img style="width:80px" src="~/Images/grid_loader.gif" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

