@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    .sent-link-buton {
        padding: 25px 70px;
    }

    .sign-in-buton {
        padding: 25px 100px;
    }

</style>
<script src="~/Scripts/app/controllers/forgotPasswordController.js"></script>
<div class="login-box login-sm-box text-left" ng-controller="ForgotPasswordController">
    <h3>
        Reset your password
    </h3>
    <hr />
    <div ng-show="!isMailSent">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" maxlength="100" ng-model="txtEmailAddress" placeholder="Email Address">
                </div>
            </div>
        </div>
        <div class="row sent-link-buton">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="button" class="btn btn-success" value="Send password reset email" ng-click="fnSendRestPasswordLink(txtEmailAddress)" />
                </div>
            </div>
        </div>
    </div>
    <div ng-show="isMailSent">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <i class="fa fa-check" style="color:forestgreen"></i>
                    <span>
                        Reset password link sent to your email address.
                    </span>
                    <br />
                    <br />
                    <span>
                        Check your email for a link to rest your password.
                    </span>
                </div>
            </div>
        </div>
        <div class="row sign-in-buton">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.ActionLink("Return to sign in", "Login", "Account", htmlAttributes: new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
    </div>
</div>
