@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<script src="~/Scripts/app/controllers/forgotPasswordController.js"></script>
<div class="login-box login-sm-box text-left" ng-controller="ForgotPasswordController">
    <h3>
        <i>Forgot Password</i>
    </h3>
    <hr />
    <div class="row" ng-show="!isMailSent">
        <div class="col-md-12">
            <div class="form-group">
                <label class="bmd-label-floating">Email</label>
                <input type="text" class="form-control" maxlength="100" ng-model="txtEmailAddress" placeholder="Email Address">
            </div>
        </div>
    </div>
    <div class="row" ng-show="!isMailSent">
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Send Link" style="float: right; width: 100px;" ng-click="fnSendRestPasswordLink(txtEmailAddress)" />
            </div>
        </div>
    </div>
    <div class="row" ng-show="isMailSent">
        <div class="col-md-12">
            <div class="form-group">
                <p>
                    <i class="fa fa-check"></i> Reset password link sent to your email address.
                    Please go back to @Html.ActionLink("Login", "Login", "Account") screen to login
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:50px">
        <div class="form-group col-md-12" style="text-align:center">
            <p>&copy; @DateTime.Now.Year - Fame Perks</p>
        </div>
    </div>
</div>
