@{
    ViewBag.Title = "Forgot Password Confirmation";
}


@Styles.Render("~/Content/css")

<div class="login-box login-md-box text-left">
    <h3>
        <i>Forgot Password</i>
    </h3>
    <hr />
    <div class="row">
        <div class="form-group col-md-12">
            <strong style="font-size:20px">
                Reset password link sent your email address.
            </strong>
        </div>
    </div>
    <div class="row" style="margin-top:50px">
        <div class="form-group col-md-12" style="text-align:center">
            <p>&copy; @DateTime.Now.Year - Fame Perks</p>
        </div>
    </div>
</div>


