@{
    ViewBag.Title = "Change your Password";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    .change-pwd-buton {
        padding: 25px 100px;
    }
</style>

<script src="~/Scripts/app/controllers/reset-password-controller.js"></script>

<div class="login-box login-sm-box text-left" ng-controller="ResetPasswordController" ng-init="fn_LoadDefaultForm()" ng-cloak>
    <div>
        <h3>
            Change your password
        </h3>
        <hr />
    </div>

    <form name="frmResetPassword" ng-submit="frmResetPassword.$valid && fn_ResetPassword(resetPasswordModel)" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="bmd-label-floating">New Password*</label>
                    <input type="password" class="form-control" maxlength="15" ng-model="resetPasswordModel.NewPassword" ng-change="fnCheckPassword(changePasswordModel)" placeholder="********" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="bmd-label-floating">Confirm Password*</label>
                    <input type="password" class="form-control" maxlength="15" ng-model="resetPasswordModel.ConfirmPassword" placeholder="********" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <p style="font-size:12px">*Make sure it's at least 6 characters including a number, a uppercase, lowercase letter and a special character</p>
                </div>
            </div>
        </div>

        <div class="row change-pwd-buton">
            <div class="col-md-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-success" ng-disabled="!frmResetPassword.$valid">Change Password</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </form>
</div>