@model FP.DAL.CreatorModal

@{
    ViewBag.Title = "YouTube";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<script src="~/Scripts/app/controllers/ProfileController.js"></script>


<div class="login-box login-md-box text-left" ng-controller="ProfileController" ng-cloak>
    <h3>
        <i>Youtube Channel Url</i>
    </h3>
    <hr />
    <div class="row">
        <form name="frmYoutube" ng-submit="frmYoutube.$valid && fn_SaveCreatorYoutubeUrl(CreatorModal)" novalidate>
            <div class="form-group col-md-12">
                <input type="text" class="form-control" ng-model="CreatorModal.YouTube" maxlength="100" placeholder="Channel Url" required>
            </div>

            <div class="form-group col-md-6">
                <input type="submit" class="btn btn-primary" ng-disabled="!frmYoutube.$valid" value="Next" style="float:right" />
            </div>
        </form>
    </div>
    <div class="row" style="margin-top:50px">
        <div class="form-group col-md-12" style="text-align:center">
            <p>&copy; @DateTime.Now.Year - Fame Perks</p>
        </div>
    </div>
</div>


