USE [master]
GO
/****** Object:  Database [FPNew21]    Script Date: 07/14/2021 3:04:29 PM ******/
CREATE DATABASE [FPNew21]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FPNew21', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FPNew21.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FPNew21_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FPNew21_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FPNew21].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FPNew21]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 07/14/2021 3:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[IsApproved] [bit] NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[IsApproved] [bit] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AudienceAge]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AudienceAge](
	[AudienceAgeId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](500) NULL,
	[MinValue] [int] NULL,
	[MaxValue] [int] NULL,
	[Duration] [varchar](10) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedBy] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_AudienceAge] PRIMARY KEY CLUSTERED 
(
	[AudienceAgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankDetail]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankDetail](
	[BankId] [int] IDENTITY(1,1) NOT NULL,
	[BankName] [nvarchar](255) NULL,
	[BankAddress] [nvarchar](255) NULL,
	[BankCode] [nvarchar](50) NULL,
	[UserId] [nvarchar](50) NULL,
	[AccountNumber] [nvarchar](50) NULL,
	[AccountHolderName] [nvarchar](255) NULL,
 CONSTRAINT [PK_BankDetail] PRIMARY KEY CLUSTERED 
(
	[BankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BrandMail]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrandMail](
	[BrandMailId] [int] IDENTITY(1,1) NOT NULL,
	[MailTypeId] [int] NULL,
	[MailFrom] [nvarchar](max) NULL,
	[Subject] [nvarchar](250) NULL,
	[Message] [nvarchar](max) NULL,
	[UserId] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[DeleteDate] [datetime] NULL,
	[PreviousBrandMailId] [int] NULL,
	[IsRead] [bit] NULL,
	[ProjectProposalId] [int] NULL,
	[ProjectProposalUpdateId] [int] NULL,
 CONSTRAINT [PK_BrandMail] PRIMARY KEY CLUSTERED 
(
	[BrandMailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BrandMailFile]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrandMailFile](
	[BrandMailFileId] [int] IDENTITY(1,1) NOT NULL,
	[BrandMailId] [int] NULL,
	[FileName] [nvarchar](250) NULL,
	[FileData] [varbinary](max) NULL,
	[FilePath] [nvarchar](max) NULL,
	[ProjectProposalId] [int] NULL,
 CONSTRAINT [PK_BrandMailFile] PRIMARY KEY CLUSTERED 
(
	[BrandMailFileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Budget]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Budget](
	[BudgetId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedBy] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_Budget] PRIMARY KEY CLUSTERED 
(
	[BudgetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campaign]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaign](
	[CampaignId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[CampaignTypeId] [nvarchar](50) NULL,
	[SupplementalChannels] [nvarchar](250) NULL,
	[ProductCategoryId] [int] NULL,
	[ProductURL] [nvarchar](max) NULL,
	[ProductPhoto] [nvarchar](max) NULL,
	[ShippingProduct] [bit] NULL,
	[AboutYourProduct] [nvarchar](250) NULL,
	[CampaignTitle] [nvarchar](50) NULL,
	[AboutYourBrand] [nvarchar](250) NULL,
	[CampaignGoal] [nvarchar](250) NULL,
	[CampaignDurationId] [int] NULL,
	[PrivateCampaign] [bit] NULL,
	[AudienceAgeId] [nvarchar](50) NULL,
	[BudgetId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[AudienceGender] [nvarchar](50) NULL,
	[YouTube] [nvarchar](50) NULL,
	[YouTubeVideoType] [nvarchar](max) NULL,
	[Approved] [bit] NULL,
	[Rejected] [bit] NULL,
	[Country] [nvarchar](max) NULL,
 CONSTRAINT [PK_CampaignDetails] PRIMARY KEY CLUSTERED 
(
	[CampaignId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CampaignCounty]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampaignCounty](
	[CampaignCountyId] [int] NOT NULL,
	[CampaignId] [int] NULL,
	[CountryId] [int] NULL,
 CONSTRAINT [PK_CampaignCounty] PRIMARY KEY CLUSTERED 
(
	[CampaignCountyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CampaignDuration]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampaignDuration](
	[CampaignDurationId] [int] IDENTITY(1,1) NOT NULL,
	[Duration] [varchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedBy] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_CampaignDuration] PRIMARY KEY CLUSTERED 
(
	[CampaignDurationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CampaignType]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampaignType](
	[CampaignTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedBy] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_CampaignType] PRIMARY KEY CLUSTERED 
(
	[CampaignTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Channel]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Channel](
	[ChannelId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedBy] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_Channel] PRIMARY KEY CLUSTERED 
(
	[ChannelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientWalletAmount]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientWalletAmount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [float] NULL,
	[UploadDate] [datetime] NULL,
	[UploadedBy] [nvarchar](255) NULL,
	[TransactionID] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_[ClientWalletAmount] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedBy] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreatorFeedback]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreatorFeedback](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatorId] [nvarchar](max) NULL,
	[Feedback] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_CreatorFeedback] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreatorProfile]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreatorProfile](
	[CreatorId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[FullName] [nvarchar](255) NULL,
	[ContactNumber] [nvarchar](255) NULL,
	[State] [nvarchar](255) NULL,
	[CountryId] [int] NULL,
	[YouTube] [nvarchar](max) NULL,
	[Instagram] [nvarchar](max) NULL,
	[Facebook] [nvarchar](max) NULL,
	[CategoryId] [int] NULL,
	[MinimumBudgetedProject] [nvarchar](255) NULL,
	[PastWorkExperience] [nvarchar](max) NULL,
	[Summary] [nvarchar](max) NULL,
	[TargetAudience] [nvarchar](255) NULL,
	[ProfileImage] [nvarchar](max) NULL,
	[DOB] [datetime] NULL,
	[Language] [nvarchar](max) NULL,
	[Categories] [nvarchar](250) NULL,
	[Gender] [nvarchar](50) NULL,
 CONSTRAINT [PK_CreatorProfile] PRIMARY KEY CLUSTERED 
(
	[CreatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Level]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Level](
	[LevelId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[StartRange] [nvarchar](255) NULL,
	[EndRange] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Level] PRIMARY KEY CLUSTERED 
(
	[LevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageType]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageType](
	[MessageTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
 CONSTRAINT [PK_MessageType] PRIMARY KEY CLUSTERED 
(
	[MessageTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[ProductCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedBy] [int] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[ProductCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ProjectId] [int] NOT NULL,
	[ProjectTitle] [nvarchar](max) NULL,
	[ProjectDescription] [nvarchar](max) NOT NULL,
	[Budget] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectProposal]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectProposal](
	[ProjectProposalId] [int] IDENTITY(1,1) NOT NULL,
	[CampaignId] [int] NULL,
	[ProjectDescription] [nvarchar](max) NULL,
	[PaymentType] [nvarchar](255) NULL,
	[NoOfMilestone] [int] NULL,
	[Milestone1] [nvarchar](max) NULL,
	[Milestone2] [nvarchar](max) NULL,
	[Milestone3] [nvarchar](max) NULL,
	[Status] [nvarchar](255) NULL,
	[UserId] [nvarchar](max) NULL,
	[Approved] [bit] NULL,
	[Milestone] [int] NULL,
	[ProposalAmount] [float] NULL,
	[ReceivedAmount] [float] NULL,
	[ProposalDate] [datetime] NULL,
	[Milestone1Amount] [float] NULL,
	[Milestone2Amount] [float] NULL,
	[Milestone3Amount] [float] NULL,
 CONSTRAINT [PK_ProjectProposal] PRIMARY KEY CLUSTERED 
(
	[ProjectProposalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectProposalUpdate]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectProposalUpdate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CampaignId] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[UserId] [nvarchar](max) NULL,
	[ProjectProposalId] [int] NULL,
	[IsApproved] [bit] NULL,
 CONSTRAINT [PK_ProjectProposalUpdate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectProposalUpdatesFile]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectProposalUpdatesFile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectProposalUpdateId] [int] NULL,
	[FileName] [nvarchar](max) NULL,
	[FilePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProjectProposalUpdatesFile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplementalChannel]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplementalChannel](
	[SupplementalId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Path] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_SupplementalChannel] PRIMARY KEY CLUSTERED 
(
	[SupplementalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TargetedCampaign]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TargetedCampaign](
	[TargetedCampaignId] [int] IDENTITY(1,1) NOT NULL,
	[CampaignId] [int] NULL,
	[Target] [nvarchar](50) NULL,
 CONSTRAINT [PK_TargetedCampaign] PRIMARY KEY CLUSTERED 
(
	[TargetedCampaignId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WalletAmount]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WalletAmount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [float] NULL,
	[UploadDate] [datetime] NULL,
	[UploadedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_WalletAmount] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YouTubeVideoType]    Script Date: 07/14/2021 3:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YouTubeVideoType](
	[YouTubeVideoTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_YouTubeVideoType] PRIMARY KEY CLUSTERED 
(
	[YouTubeVideoTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Client')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'Creator')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [IsApproved]) VALUES (N'1a6a73c0-4705-4ee3-8502-ff7811db8138', N'1', NULL)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [IsApproved]) VALUES (N'22b08833-358b-4b19-b974-74b840b53332', N'3', NULL)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId], [IsApproved]) VALUES (N'4f148ed2-eea8-4a56-9fa1-3c0b0f207007', N'3', NULL)
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [IsApproved]) VALUES (N'1a6a73c0-4705-4ee3-8502-ff7811db8138', N'admin@gmail.com', 0, N'ADhMGgHbYkN0Ngu3mHCYcK6JtjDWZaI7EtbavCerDV5rBTXFpjaqdRnXo160I0YryA==', N'3161e5ae-1deb-4424-b011-381cb875aa4d', NULL, 0, 0, NULL, 1, 0, N'admin@gmail.com', NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [IsApproved]) VALUES (N'22b08833-358b-4b19-b974-74b840b53332', N'creatortest2@gmail.com', 0, N'AN+S9Z6C2HXCEpCtk/Hurr9OtXOUKM65hGsaEPmRvAXZzrvVlGJoA73tI0u8U84XRA==', N'0fdbb644-310a-46b0-89ab-4cad41155a67', NULL, 0, 0, NULL, 1, 0, N'creatortest2@gmail.com', NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [IsApproved]) VALUES (N'4f148ed2-eea8-4a56-9fa1-3c0b0f207007', N'creatortest@gmail.com', 0, N'AHljSn80HH27jqH1BOqXGAZIndhWTsuZwB02YTIajY2aIpOpgkGHFz/yqe4hHvDZXQ==', N'a467791c-bc23-46cb-9b18-b239ce4b51ad', NULL, 0, 0, NULL, 1, 0, N'creatortest@gmail.com', NULL)
GO
SET IDENTITY_INSERT [dbo].[AudienceAge] ON 

INSERT [dbo].[AudienceAge] ([AudienceAgeId], [Title], [MinValue], [MaxValue], [Duration], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted], [DeletedBy], [DeletedDate]) VALUES (2, N'10-20', 10, 20, N'12', 1, 0, CAST(N'2020-05-20T12:56:09.453' AS DateTime), NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[AudienceAge] ([AudienceAgeId], [Title], [MinValue], [MaxValue], [Duration], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted], [DeletedBy], [DeletedDate]) VALUES (1006, N'20-30', 20, 30, N'12', 1, 0, CAST(N'2020-05-05T00:00:00.000' AS DateTime), NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[AudienceAge] ([AudienceAgeId], [Title], [MinValue], [MaxValue], [Duration], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted], [DeletedBy], [DeletedDate]) VALUES (2008, N'30-40', 30, 40, N'12', 1, 0, CAST(N'2019-12-12T00:00:00.000' AS DateTime), NULL, NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[AudienceAge] OFF
GO
SET IDENTITY_INSERT [dbo].[BankDetail] ON 

INSERT [dbo].[BankDetail] ([BankId], [BankName], [BankAddress], [BankCode], [UserId], [AccountNumber], [AccountHolderName]) VALUES (2, N'TestBank', N'Dehradun', N'248081', N'4f148ed2-eea8-4a56-9fa1-3c0b0f207007', N'123', N'Gaurav')
INSERT [dbo].[BankDetail] ([BankId], [BankName], [BankAddress], [BankCode], [UserId], [AccountNumber], [AccountHolderName]) VALUES (3, N'Test Bank', N'Test Bank Add', N'20120', N'922893f7-12e0-465b-8925-58d2b437c659', N'12525652', N'Client Test2')
INSERT [dbo].[BankDetail] ([BankId], [BankName], [BankAddress], [BankCode], [UserId], [AccountNumber], [AccountHolderName]) VALUES (1003, N'Test Bnak 3', N'Test Address', N'25825', N'ba785409-c69f-495d-ae4f-347bdf4df834', N'1582589', N'Client Test 3')
SET IDENTITY_INSERT [dbo].[BankDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[BrandMail] ON 

SET IDENTITY_INSERT [dbo].[BrandMail] OFF
GO
SET IDENTITY_INSERT [dbo].[BrandMailFile] ON 

INSERT [dbo].[BrandMailFile] ([BrandMailFileId], [BrandMailId], [FileName], [FileData], [FilePath], [ProjectProposalId]) VALUES (1, NULL, N'FP_Users.txt', NULL, N'../Upload/Files/4f148ed2-eea8-4a56-9fa1-3c0b0f207007/FP_Users~692dc841-5a28-444e-a7f0-9e74124a0f4f.txt', 10)
INSERT [dbo].[BrandMailFile] ([BrandMailFileId], [BrandMailId], [FileName], [FileData], [FilePath], [ProjectProposalId]) VALUES (2, NULL, N'FP_Users.txt', NULL, N'../Upload/Files/22b08833-358b-4b19-b974-74b840b53332/FP_Users~d327b81e-8526-463c-b899-bfaa4e583eb3.txt', 11)
INSERT [dbo].[BrandMailFile] ([BrandMailFileId], [BrandMailId], [FileName], [FileData], [FilePath], [ProjectProposalId]) VALUES (3, NULL, N'FP_Users.txt', NULL, N'../Upload/Files/22b08833-358b-4b19-b974-74b840b53332/FP_Users~efde0ec6-a424-46ab-82a9-036d7b7d0582.txt', 12)
SET IDENTITY_INSERT [dbo].[BrandMailFile] OFF
GO
SET IDENTITY_INSERT [dbo].[Budget] ON 

INSERT [dbo].[Budget] ([BudgetId], [Title], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted], [DeletedBy], [DeletedDate]) VALUES (1, N'$ 1000', 1, 0, CAST(N'2019-08-31T15:44:54.493' AS DateTime), NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[Budget] ([BudgetId], [Title], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted], [DeletedBy], [DeletedDate]) VALUES (2, N'$ 1500', 1, 0, CAST(N'2019-08-31T15:45:03.313' AS DateTime), 0, CAST(N'2020-05-20T12:57:16.083' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Budget] ([BudgetId], [Title], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted], [DeletedBy], [DeletedDate]) VALUES (8, N'$ 2500', 1, 0, CAST(N'2020-06-10T23:34:03.610' AS DateTime), 0, NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Budget] OFF
GO
SET IDENTITY_INSERT [dbo].[Campaign] ON 

SET IDENTITY_INSERT [dbo].[Campaign] OFF
GO
SET IDENTITY_INSERT [dbo].[CampaignDuration] ON 

INSERT [dbo].[CampaignDuration] ([CampaignDurationId], [Duration], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted], [DeletedBy], [DeletedDate]) VALUES (1, N'20 Days', 1, 0, CAST(N'2019-08-31T15:29:37.143' AS DateTime), NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[CampaignDuration] ([CampaignDurationId], [Duration], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted], [DeletedBy], [DeletedDate]) VALUES (2, N'30 Days', 1, 0, CAST(N'2019-08-31T15:30:24.497' AS DateTime), 0, CAST(N'2019-08-31T15:38:28.747' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[CampaignDuration] ([CampaignDurationId], [Duration], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted], [DeletedBy], [DeletedDate]) VALUES (3, N'45 Days', 1, 0, CAST(N'2019-08-31T15:30:36.777' AS DateTime), NULL, NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CampaignDuration] OFF
GO
SET IDENTITY_INSERT [dbo].[CampaignType] ON 

INSERT [dbo].[CampaignType] ([CampaignTypeId], [Title], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted], [DeletedBy], [DeletedDate]) VALUES (1, N'Test', 1, 0, CAST(N'2019-08-31T15:33:28.980' AS DateTime), NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[CampaignType] ([CampaignTypeId], [Title], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted], [DeletedBy], [DeletedDate]) VALUES (2, N'Tes12', 1, 0, CAST(N'2019-08-31T15:33:39.570' AS DateTime), 0, CAST(N'2020-05-20T12:56:31.890' AS DateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CampaignType] OFF
GO
SET IDENTITY_INSERT [dbo].[Channel] ON 

INSERT [dbo].[Channel] ([ChannelId], [Name], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted], [DeletedBy], [DeletedDate]) VALUES (1, N'Test111', 1, 0, CAST(N'2019-08-31T15:47:20.177' AS DateTime), 0, CAST(N'2019-08-31T15:48:54.197' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Channel] ([ChannelId], [Name], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted], [DeletedBy], [DeletedDate]) VALUES (2, N'test1', 1, 0, CAST(N'2019-08-31T15:48:48.877' AS DateTime), NULL, NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Channel] OFF
GO
SET IDENTITY_INSERT [dbo].[ClientWalletAmount] ON 

INSERT [dbo].[ClientWalletAmount] ([ID], [Amount], [UploadDate], [UploadedBy], [TransactionID], [Status]) VALUES (2, 102.5, CAST(N'2020-05-30T14:41:59.647' AS DateTime), N'4f148ed2-eea8-4a56-9fa1-3c0b0f207007', NULL, NULL)
INSERT [dbo].[ClientWalletAmount] ([ID], [Amount], [UploadDate], [UploadedBy], [TransactionID], [Status]) VALUES (3, 100.25, CAST(N'2020-05-30T14:42:08.780' AS DateTime), N'4f148ed2-eea8-4a56-9fa1-3c0b0f207007', NULL, NULL)
INSERT [dbo].[ClientWalletAmount] ([ID], [Amount], [UploadDate], [UploadedBy], [TransactionID], [Status]) VALUES (1003, 5000, CAST(N'2020-06-15T06:50:37.637' AS DateTime), N'922893f7-12e0-465b-8925-58d2b437c659', NULL, NULL)
SET IDENTITY_INSERT [dbo].[ClientWalletAmount] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([CountryId], [Name], [IsActive], [CreatedBy], [CreatedDate], [IsDeleted], [DeletedBy], [DeletedDate]) VALUES (4, N'India', 1, 1, CAST(N'2020-02-01T00:00:00.000' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Country] ([CountryId], [Name], [IsActive], [CreatedBy], [CreatedDate], [IsDeleted], [DeletedBy], [DeletedDate]) VALUES (6, N'UK', 1, 1, CAST(N'2020-02-01T00:00:00.000' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[Country] ([CountryId], [Name], [IsActive], [CreatedBy], [CreatedDate], [IsDeleted], [DeletedBy], [DeletedDate]) VALUES (9, N'Russia', 1, 1, CAST(N'2020-01-02T00:00:00.000' AS DateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[CreatorFeedback] ON 

INSERT [dbo].[CreatorFeedback] ([Id], [CreatorId], [Feedback], [Date]) VALUES (1, N'22b08833-358b-4b19-b974-74b840b53332', N'Very Good', NULL)
INSERT [dbo].[CreatorFeedback] ([Id], [CreatorId], [Feedback], [Date]) VALUES (2, N'22b08833-358b-4b19-b974-74b840b53332', N'Something I really appreciate about you is your aptitude for problem solving in a proactive way.', NULL)
SET IDENTITY_INSERT [dbo].[CreatorFeedback] OFF
GO
SET IDENTITY_INSERT [dbo].[CreatorProfile] ON 

INSERT [dbo].[CreatorProfile] ([CreatorId], [UserId], [FullName], [ContactNumber], [State], [CountryId], [YouTube], [Instagram], [Facebook], [CategoryId], [MinimumBudgetedProject], [PastWorkExperience], [Summary], [TargetAudience], [ProfileImage], [DOB], [Language], [Categories], [Gender]) VALUES (3, N'4f148ed2-eea8-4a56-9fa1-3c0b0f207007', N'Gaurav Singh', N'9720359119', N'UK', 3, N'GauravSinghRana99', N'GauravSingh', N'GauravSingh', NULL, N'12k', NULL, N'Test summary', N'1006,', N'../Images/profile.png', CAST(N'1990-12-25T00:00:00.000' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CreatorProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[Level] ON 

INSERT [dbo].[Level] ([LevelId], [Title], [StartRange], [EndRange], [IsActive], [IsDeleted]) VALUES (1, N'Test', N'10', N'50', 1, NULL)
SET IDENTITY_INSERT [dbo].[Level] OFF
GO
SET IDENTITY_INSERT [dbo].[MessageType] ON 

INSERT [dbo].[MessageType] ([MessageTypeId], [Title]) VALUES (1, N'Proposals')
INSERT [dbo].[MessageType] ([MessageTypeId], [Title]) VALUES (2, N'In Productions')
INSERT [dbo].[MessageType] ([MessageTypeId], [Title]) VALUES (3, N'Pending Approval')
SET IDENTITY_INSERT [dbo].[MessageType] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([ProductCategoryId], [Name], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted], [DeletedBy], [DeletedDate]) VALUES (1, N'Healthcare', 1, 0, CAST(N'2019-08-29T06:48:02.770' AS DateTime), 0, CAST(N'2019-08-30T13:45:43.007' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[ProductCategory] ([ProductCategoryId], [Name], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted], [DeletedBy], [DeletedDate]) VALUES (2, N'Education', 1, 0, CAST(N'2019-08-30T07:03:16.597' AS DateTime), 0, CAST(N'2019-08-31T15:25:10.930' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[ProductCategory] ([ProductCategoryId], [Name], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted], [DeletedBy], [DeletedDate]) VALUES (3, N'Business and Finance', 1, 0, CAST(N'2019-09-16T17:40:01.387' AS DateTime), 0, CAST(N'2020-05-20T12:54:40.047' AS DateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
INSERT [dbo].[Project] ([ProjectId], [ProjectTitle], [ProjectDescription], [Budget], [IsActive], [CreateBy]) VALUES (1, N'Test Project', N'This is test project of FP', N'10K', 1, N'f2363ef0-c455-454c-9aa2-2cd923fb598d')
GO
SET IDENTITY_INSERT [dbo].[ProjectProposal] ON 

SET IDENTITY_INSERT [dbo].[ProjectProposal] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectProposalUpdate] ON 

INSERT [dbo].[ProjectProposalUpdate] ([Id], [CampaignId], [Description], [Url], [UserId], [ProjectProposalId], [IsApproved]) VALUES (7, NULL, N'Brand management is a branding component that involves maintaining and bettering products, services and brand perception', N'http://localhost:51656/Creator/Projects', N'22b08833-358b-4b19-b974-74b840b53332', 12, 0)
INSERT [dbo].[ProjectProposalUpdate] ([Id], [CampaignId], [Description], [Url], [UserId], [ProjectProposalId], [IsApproved]) VALUES (8, NULL, N'test', N'http://localhost:51656/Creator/Projects?Length=7#v-pills-2', N'22b08833-358b-4b19-b974-74b840b53332', 13, NULL)
SET IDENTITY_INSERT [dbo].[ProjectProposalUpdate] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectProposalUpdatesFile] ON 

INSERT [dbo].[ProjectProposalUpdatesFile] ([Id], [ProjectProposalUpdateId], [FileName], [FilePath]) VALUES (1, 6, N'creatordashboard.png', N'../Upload/Files/4f148ed2-eea8-4a56-9fa1-3c0b0f207007/creatordashboard~24ec0911-4e88-4f90-a0bf-00f90f33685c.png')
INSERT [dbo].[ProjectProposalUpdatesFile] ([Id], [ProjectProposalUpdateId], [FileName], [FilePath]) VALUES (2, 6, N'sdsdffds.png', N'../Upload/Files/4f148ed2-eea8-4a56-9fa1-3c0b0f207007/sdsdffds~9778084c-ec15-4d43-8be8-4b87d538b3c0.png')
INSERT [dbo].[ProjectProposalUpdatesFile] ([Id], [ProjectProposalUpdateId], [FileName], [FilePath]) VALUES (3, 7, N'image.png', N'../Upload/Files/22b08833-358b-4b19-b974-74b840b53332/image~17535473-34f9-413a-8e2a-85fd5882a0bd.png')
SET IDENTITY_INSERT [dbo].[ProjectProposalUpdatesFile] OFF
GO
SET IDENTITY_INSERT [dbo].[SupplementalChannel] ON 

INSERT [dbo].[SupplementalChannel] ([SupplementalId], [Title], [Path], [IsActive]) VALUES (1, N'Twitter', N'../images/twitter.png', 1)
INSERT [dbo].[SupplementalChannel] ([SupplementalId], [Title], [Path], [IsActive]) VALUES (2, N'Instragram', N'../images/instagram.png', 1)
INSERT [dbo].[SupplementalChannel] ([SupplementalId], [Title], [Path], [IsActive]) VALUES (3, N'Thumbrl', N'../images/tumblr.png', 1)
SET IDENTITY_INSERT [dbo].[SupplementalChannel] OFF
GO
SET IDENTITY_INSERT [dbo].[WalletAmount] ON 

INSERT [dbo].[WalletAmount] ([ID], [Amount], [UploadDate], [UploadedBy]) VALUES (3, 200, CAST(N'2020-05-27T18:25:16.113' AS DateTime), N'4f148ed2-eea8-4a56-9fa1-3c0b0f207007')
INSERT [dbo].[WalletAmount] ([ID], [Amount], [UploadDate], [UploadedBy]) VALUES (4, 100, CAST(N'2020-05-27T18:29:10.297' AS DateTime), N'4f148ed2-eea8-4a56-9fa1-3c0b0f207007')
INSERT [dbo].[WalletAmount] ([ID], [Amount], [UploadDate], [UploadedBy]) VALUES (1002, 205, CAST(N'2020-05-28T18:19:08.670' AS DateTime), N'4f148ed2-eea8-4a56-9fa1-3c0b0f207007')
SET IDENTITY_INSERT [dbo].[WalletAmount] OFF
GO
SET IDENTITY_INSERT [dbo].[YouTubeVideoType] ON 

INSERT [dbo].[YouTubeVideoType] ([YouTubeVideoTypeId], [Title], [IsActive]) VALUES (1, N'Review', 1)
INSERT [dbo].[YouTubeVideoType] ([YouTubeVideoTypeId], [Title], [IsActive]) VALUES (2, N'Mention', 1)
INSERT [dbo].[YouTubeVideoType] ([YouTubeVideoTypeId], [Title], [IsActive]) VALUES (3, N'Haul', 1)
SET IDENTITY_INSERT [dbo].[YouTubeVideoType] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 07/14/2021 3:04:34 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 07/14/2021 3:04:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 07/14/2021 3:04:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 07/14/2021 3:04:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 07/14/2021 3:04:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 07/14/2021 3:04:34 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AudienceAge] ADD  CONSTRAINT [DF_AudienceAge_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AudienceAge] ADD  CONSTRAINT [DF_AudienceAge_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Budget] ADD  CONSTRAINT [DF_Budget_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Budget] ADD  CONSTRAINT [DF_Budget_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[CampaignDuration] ADD  CONSTRAINT [DF_CampaignDuration_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CampaignDuration] ADD  CONSTRAINT [DF_CampaignDuration_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[CampaignType] ADD  CONSTRAINT [DF_CampaignType_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CampaignType] ADD  CONSTRAINT [DF_CampaignType_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Channel] ADD  CONSTRAINT [DF_Channel_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Channel] ADD  CONSTRAINT [DF_Channel_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF_Country_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [DF_Country_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ProductCategory] ADD  CONSTRAINT [DF_ProductCategory_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductCategory] ADD  CONSTRAINT [DF_ProductCategory_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BrandMailFile]  WITH CHECK ADD  CONSTRAINT [FK_BrandMailFile_BrandMail] FOREIGN KEY([BrandMailId])
REFERENCES [dbo].[BrandMail] ([BrandMailId])
GO
ALTER TABLE [dbo].[BrandMailFile] CHECK CONSTRAINT [FK_BrandMailFile_BrandMail]
GO
ALTER TABLE [dbo].[Campaign]  WITH CHECK ADD  CONSTRAINT [FK_CampaignDetails_CampaignDuration] FOREIGN KEY([CampaignDurationId])
REFERENCES [dbo].[CampaignDuration] ([CampaignDurationId])
GO
ALTER TABLE [dbo].[Campaign] CHECK CONSTRAINT [FK_CampaignDetails_CampaignDuration]
GO
ALTER TABLE [dbo].[Campaign]  WITH CHECK ADD  CONSTRAINT [FK_CampaignDetails_ProductCategory] FOREIGN KEY([ProductCategoryId])
REFERENCES [dbo].[ProductCategory] ([ProductCategoryId])
GO
ALTER TABLE [dbo].[Campaign] CHECK CONSTRAINT [FK_CampaignDetails_ProductCategory]
GO
ALTER TABLE [dbo].[TargetedCampaign]  WITH CHECK ADD  CONSTRAINT [FK_TargetedCampaign_Campaign] FOREIGN KEY([TargetedCampaignId])
REFERENCES [dbo].[Campaign] ([CampaignId])
GO
ALTER TABLE [dbo].[TargetedCampaign] CHECK CONSTRAINT [FK_TargetedCampaign_Campaign]
GO
USE [master]
GO
